body{
    background-color: #000;
}

h1.page-title{
    font-weight: 100;
    text-transform: capitalize;
}

.list-table{

}

.list-table th{
    text-transform: uppercase;
}

.table-vertical th{
    white-space: nowrap;
}